/* ========== google font ========== */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&family=Ubuntu&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

body {
  background-image: url(../baseball/img/tomas-eidsvold-Jxr2dJZ656Q-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  /* ===================아래 2줄=================================== */
  width: 100%;
  height: auto;
}

.container {
  display: flex;

  /* ================ 아래 4줄, 좌우 여백...===================================== */
  /* ================ space around해서 가운데만 정렬..?===================================== */
  width: 100%;
  height: auto;
  max-width: 1024px;
  margin: auto;
}

.container .menu_wrap {
  /* ===================아래 한줄=================================== */
  width: 20%;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
}

.container .menu_introduce {
  margin-bottom: 3rem;
}

.container .menu_introduce .intro_list li {
  list-style: none;
  margin: 1rem 0;
}

.container .menu_introduce .intro_list a {
  text-decoration: none;
  margin-left: 1rem;
}

.container .menu_sns {
  margin-bottom: 5rem;
}

.container .menu_sns .sns_list li {
  list-style: none;
  margin: 1rem 0;
}

.container .menu_sns .sns_list a {
  text-decoration: none;
  margin-left: 1rem;
}

.container .button {
  border: 3px solid #fff;
  border-radius: 2rem;
  padding: 0.7rem 1rem;
  width: 10rem;
  text-align: center;
}

.container .explore_wrap {
  /* =========================아래 3줄=============================== */
  width: 50%;
  height: auto;
  border: 1px solid #fff;
}

.container .explore_wrap .header_search {
  display: flex;
  align-items: center;
}

.container .explore_wrap .shortcut {
  display: flex;
  margin: 1rem 0 2rem;
}

.container .explore_wrap .item {
  background: rgb(180, 238, 225);
  border-radius: 30px;
  padding: 0.7rem 1rem;
}

.container .explore_wrap .shortcut a {
  text-decoration: none;
}

.container .explore_wrap .saying {
  display: flex;
  justify-content: center;
}

.container .explore_wrap .saying p {
  font-size: 50px;
}

.container .explore_wrap .albumimage {
  width: 100%;
  height: auto;
  /* ====================위 두줄================================== */

  display: flex;
  flex-direction: column;
  align-items: center;
}

.container .explore_wrap .albumimage .cover {
  border: 1px solid #fff;
  background: lightblue;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1rem 0;
  /* ====================아래 한줄================================== */
  width: calc((100% - 2rem));
  /* 요부분 수정..? */
}

.container .explore_wrap .albumimage img {
  /* ===================아래 한줄=================================== */
  width: 50%;
}

.container .pic_wrap {
  /* ===================아래 한줄(임시)=================================== */
  width: 30%;
}
.container .pic_wrap .pic_list {
  /* ===================아래 3줄, 임의로 작성=================================== */
  border: 1px solid #fff;
  width: 100%;
  height: 200px;
}
