/* ========== google font ========== */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&family=Ubuntu&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
  overflow: hidden;
}

body {
  background-image: url(img/00.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  /* ===================아래 2줄=================================== */
  width: 100%;
  height: auto;
  position: fixed;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  /* ================ 아래 3줄, 좌우 여백...===================================== */
  /* ================ space around해서 가운데만 정렬..?===================================== */
  margin: auto;
  min-height: 100vh;
}

.container .menu_wrap {
  /* ===================아래 한줄=================================== */
  width: 100%;
  max-width: 250px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container .menu_title {
  text-align: center;
}

.container .menu_introduce h2 {
  text-align: center;
}

.container .menu_introduce .intro_list li {
  list-style: none;
  margin: 1rem 0;
}

.container .menu_introduce .intro_list a {
  text-decoration: none;
  margin-left: 1rem;
}

.container .menu_sns h2 {
  text-align: center;
}

.container .menu_sns .sns_list li {
  list-style: none;
  margin: 1rem 0;
}

.container .menu_sns .sns_list a {
  text-decoration: none;
  margin-left: 1rem;
}

.container .middle_wrap {
  /* =========================아래 3줄=============================== */
  width: 100%;
  max-width: 700px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}

.container .middle_wrap .item1 {
  width: 50%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(img/012.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  position: relative;
}

.container .middle_wrap .item1:hover {
  color: white;
  opacity: 1;
}

.container .middle_wrap .item1 .item1-title {
  display: flex;
}

.container .middle_wrap .item1 i {
  position: absolute;
  font-size: 7rem;
  right: 2rem;
  top: 25%;
}

.container .middle_wrap .item2 {
  width: 50%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(img/123.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  position: relative;
}

.container .middle_wrap .item2 .item2-title {
  display: flex;
}

.container .middle_wrap .item2 i {
  position: absolute;
  font-size: 7rem;
  right: 2rem;
  top: 25%;
}

.container .middle_wrap .item3 {
  width: 50%;
  padding: 0.5rem;
  background: #fff;
  background-image: url(img/em.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container .middle_wrap .item4 {
  width: 50%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ff0000;
}

.container .middle_wrap .item5 {
  width: 100%;
  background-color: purple;
  padding: 0.5rem;
}

.container .pic_wrap {
  /* ===================아래 세줄(임시)=================================== */
  width: 100%;
  max-width: 350px;
  height: 600px;
}

.container .pic_wrap img {
  width: 100%;
}
